# Initial_setup_parameters.cfg

MAIN_DIRECTORY=`pwd`

CSV_FILE_PATH='/Setup/CSV_Storage'
CSV_FILE_NAME='ATT_csd_data.csv'

JSON_FILE_PATH='Setup/JSON_Storage'
JSON_FILE_NAME='Amazon_csd_data.json'

XML_FILE_PATH='Setup/XML_Storage'
XML_FILE_NAME='Uber_csd_data.xml'